livekit-agents
livekit-agents[google]~=1.5
livekit-plugins-noise-cancellation
python-dotenv

python-dotenv
livekit
livekit-agents
livekit-api

livekit-plugins-openai
livekit-plugins-google
livekit-plugins-silero

openai
google-generativeai

aiohttp
typer
rich
watchfiles
